@import url("https://api.fontshare.com/v2/css?f[]=clash-display@200,300,400,500,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap");

/* global.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Set the default font */
body {
  font-family: "Clash Display", sans-serif;
  color: rgb(28, 28, 28);
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.text-gradient {
  @apply text-transparent bg-clip-text bg-gradient-to-r from-blue-500 to-purple-500;
}

.btn-gradient {
  @apply bg-gradient-to-r from-blue-500 to-purple-500 text-white;
}

/* Define the marquee keyframes */
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(
      -50%
    ); /* Only translate half of the container width */
  }
}

/* Apply the marquee animation */
.animate-marquee {
  animation: marquee 30s linear infinite;
}

/* Pause the animation on hover */
.group-hover\:pause:hover {
  animation-play-state: paused;
}

/* Ensure overflow is hidden to prevent elements from spilling out */
.overflow-hidden {
  overflow: hidden; /* Hide any overflowing content */
}

@keyframes scrollLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes scrollRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.animate-scrollLeft {
  animation: scrollLeft 10s linear infinite;
  display: flex; /* Make sure items are in a row */
}

.animate-scrollRight {
  animation: scrollRight 10s linear infinite;
  display: flex; /* Make sure items are in a row */
}

/* Optional: Set a fixed height for the scrolling area */
.relative.overflow-hidden {
  height: 200px; /* Adjust height as necessary */
  overflow: hidden; /* Hide overflowing items */
}
